# AppCenter/Android related, commented out for AppCenter to be able to find this Android app
#gradle-wrapper.jar
#/gradlew
#/gradlew.bat

/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
